* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to right, #F1FBFE, #FFFFFF);
    font-family: Calibri;
    line-height: 1.6;
}

.logo {
    margin-top: 2rem; 
    margin-left: 2rem;
    position: absolute;
    display: none;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
}

.navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    background: transparent;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: 1C1E3D;
}

.navbar ul li a:hover {
    color: skyblue;
}

/*
.footerSection {
    flex: 0 0 auto;
    display: flex;
    height: calc(100vh - 99px);
    width: 100%;
    scroll-snap-align: center;
    background-color: 1C1E3D;
}
*/

.footer{
    width: 100%;
    list-style: none;
    text-align: right;
    font-weight: bold;
    font-family: 'Calibri', 'serif';
    bottom: 0;
}

.footer ul {
    margin-right: 2rem;
}

.footer ul li {
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    color: white;
    vertical-align: middle;
}

.footer ul li a {
    text-decoration: none;
}

section {
    flex: 0 0 auto;
    display: flex;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}

.textPosition {
    padding: 0 5% 0;
    width: 100%;
    display: flex;
}

.textPosition div {
    color: 1C1E3D;
    font-family: 'Calibri', 'serif';
    line-height: 1.5;
    font-weight: bold;
}

.rectangle {
    float: left;
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.frontLogo {
    height: auto;
    width: 80%;
    vertical-align: middle;
}

.frontLogoPosition {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.flex-1-1 {
    text-align: left;
    margin-top: 10rem;
}

.flex-1-2 {
    flex: 1;
    text-align: center;
    display: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

h1::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 2rem;
    transform: translateY(0.65rem);
    margin-right: 1em;
}

.viewDemo {
    display: none;
}

.dashboardBanPosition {
    margin-top: 1rem;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: center;
    align-items: center;
}

.dashboardBan {
    box-shadow: 0 1.25px 1.25px rgba(0,0,0,0.25);
    background-color: white;
    width: 80vw;
    display: flex;
}

.BanRectangle {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex: 1;
  }

.BanDesc {
    color: grey;
    font-weight: normal;
    font-size: 1rem;
}

.separator {
    background-color: #1C1E3D;
    width: 0.01rem;
}

.graphFormContainer {
    display: flex;
    width: 80vw;
    height: 65vh;
    box-shadow: 0 1.25px 1.25px rgba(0,0,0,0.25);
}

.graphFormContainer div {
    background-color: white;
}

.roiCarousel {
    box-shadow: 0 1.25px 1.25px rgba(0,0,0,0.25);
    background-color: white;
    width: 80vw;
    display: flex;
}

.roiCarousel > div {
    margin-left: 0.5rem;
    background-color: grey;
    box-shadow: 0 1.25px 1.25px rgba(0,0,0,0.25);
    height: 7rem;
    flex-direction: column;
    color: white;
}

.carouselHeader {
    position: relative;
    height: 2.5rem;
    width: 57vw;
    /*
    border: #1C1E3D solid;
    */
    z-index: 1;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.modellingGraphs {
    position: relative;
    height: 15rem; 
    width: 57vw; 
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
}

.modellingGraphs > div {
    flex: 1;
    max-height: 100%; 
    max-width: 100%; 
    margin: 0.5rem 0.5rem 0.5rem; 
    box-shadow: 0 1.25px 1.25px rgba(0,0,0,0.25);
}

input, label {
    display: block;
}

form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

form label {
    text-align: left;
    font-weight: bold;
    margin: 1rem 0;
}

select {
    padding: 0.8rem 0.8rem;
    width: 100%;
}

button {
    width: 50%;
    background-color: #1C1E3D;
    color: white;
    padding: 0.9rem 1.6rem;
    margin: 2rem auto;
    border-radius: 0.25rem;
    cursor: pointer;
  }

.container .dashboardBanPosition .graphFormContainer .ReportDescription {
    flex: 1; 
    text-align: left; 
    align-items: center;
    background-color: transparent;
}

.container .dashboardBanPosition .graphFormContainer .ReportImg {
    flex: 1; 
    align-items: center; 
    text-align: center; 
    background-color: transparent;
}

.risersFallers {
    position: relative; 
    left: 0.5rem; 
    color: #1C1E3D; 
    font-weight: bold; 
    font-size: 1.5rem;
    position: relative;
    height: 2.5rem;
    width: 57vw;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0%);
}


@media only screen and (min-width: 1300px) {
    .flex-1-2 {
        display: block;
    }
}

@media only screen and (min-width: 480px) {
    .viewDemo {
        display: block;
    }
}

@media only screen and (min-width:955px) {
    .dashboardBanPosition ul {
        display: flex;
    }

    .dashboardBanPosition {
        padding-top: 5rem;
    }

    .separator {
        border-left: 0.15rem solid #1C1E3D;
        height: 1.5rem;
    }
}