* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #F1FBFE, #FFFFFF);
    font-family: Calibri;
    line-height: 1.6;
}

.logo {
    margin-top: 2rem; 
    margin-left: 2rem;
    position: absolute;
    display: none;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    margin-bottom: 1rem;
}

.navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    background: transparent;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: 1C1E3D;
}

.navbar ul li a:hover {
    color: skyblue;
}

.footer{
    position: sticky;
    width: 100%;
    list-style: none;
    text-align: right;
    font-weight: bold;
    font-family: 'Calibri', 'serif';
    background-color: 1C1E3D;
    bottom: 0;
}

.footer ul {
    margin-right: 2rem;
    vertical-align: middle;
}

.footer ul li {
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    color: white;
}

.footer ul li a {
    text-decoration: none;
}

section {
    flex: 0 0 auto;
    display: flex;
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}

.textPosition {
    padding: 0rem 5% 0;
    width: 100%;
    display: flex;
}

.textPosition div {
    color: 1C1E3D;
    font-family: 'Calibri', 'serif';
    line-height: 1.5;
    font-weight: bold;
}

.rectangle {
    float: left;
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.frontLogo {
    height: auto;
    width: 80%;
    vertical-align: middle;
}

.frontLogoPosition {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.flex-1-1 {
    text-align: left;
    margin-top: 10rem;
}

.flex-1-2 {
    flex: 1;
    text-align: center;
    display: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

h1::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 2rem;
    transform: translateY(0.65rem);
    margin-right: 1em;
}

@media only screen and (min-width: 1300px) {
    .flex-1-2 {
        display: block;
    }
}

.viewDemo {
    display: none;
}

@media only screen and (min-width: 480px) {
    .viewDemo {
        display: block;
    }
}