body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #F1FBFE, #FFFFFF)
}

.nav {
    color: #1C1E3D;
    list-style: none;
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-5%, -40%);
    padding:2rem 0 2.5rem 0;
    font-weight: bold;
    font-family: 'Roboto', 'serif';
}

.nav > li{
    display: inline-block;
    padding-right: 1.5rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: 1C1E3D;
}

.nav > li > .page {
    text-decoration: underline;
    text-underline-position: under;
}

.nav > li > a:hover, .footer > li > a:hover {
    color: #8789B1;
}

.footer{
    display: inline-block;
    position:fixed;
    width:100%;
    bottom:1rem;
    right: 1.5rem;
    list-style: none;
    text-align: right;
    font-weight: bold;
    font-family: 'Roboto', 'serif';
}

.footer > li{
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}

.logo {
    float: left;
    width: 5em;
    height: auto;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    }

.textPosition {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    color: 1C1E3D;
    font-family: 'Roboto', 'serif';
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
}

.rectangle {
    float: left;
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }