<DOCTYPE html>
<html langs="en">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/font-awesome.min.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>callback();</script>
</head>
</head>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#report">Report</li></a>
            <li><a href="#modelling">Modelling</li></a>
        </ul>
    </nav>
    <div class="container">
        <section id="home">
            <div class="textPosition">
                <div class="flex-1-1">
                    <p>
                        <h1 style="font-size: 16px; font-weight: bold; display: flex;">Abass Ibrahim</h1>
                    </p>
                    <p style="font-size: 2.5em; margin-top: 0; margin-bottom: 0;">Portfolio Optimization<br>With Reinforcement Learning</p>
                    <p style="font-weight: normal; font-size: 1.4em;">
                        The aim of this project was to utilize reinforcement learning to train a machine to learn<br>
                        how to rebalance a portfolio of stocks given what happened previously in the market.<br>
                        The project futher conducts sentiment analysis on tweets regarding traded companies <br> into positive or negative.<br>
                    </p>
                    <br>
                    <div class="rectangle" style="box-shadow: 0.5rem 0.5rem black; background-color: 1C1E3D;">
                        <p style="color: white; font-weight: normal; font-size: 1rem;" View Demo>
                            Github repo
                        </p>      
                    </div>
                    </a>
                    <div class="viewDemo">
                        <div class="rectangle" style="background-color: transparent; margin-left: 2em;">
                            <p style="color: 1C1E3D; font-weight: bold; font-size: 1rem;" View Demo>
                                View demo
                            </p>
                            <img src="../static/img/playButton.png" style="height: 2.5em; width: auto; padding-left: 0.6rem;">
                        </div>
                    </div>
                </div>
                <div class="flex-1-2">
                    <span class="frontLogoPosition"></span><img class="frontLogo" src="../static/img/front_page.png" style="margin-right: 2rem;">
                </div>
            </div>
        </section>
        <section id="dashboard">
            <div class="dashboardBanPosition">
                <div class="dashboardBan">
                    <div class="BanRectangle">
                        <img src="../static/img/hashtag.png" style="height: 2rem; padding-right: 1rem;">
                        <p>
                            <div class="BAN" style="font-weight: bold; color: black; font-size:1.5rem; line-height: 1.25;">
                                30
                                <div class="BanDesc">Constituents</div>                                     
                            </div>                                   
                        </p>
                    </div>    
                    <div class="BanRectangle">
                        <img src="../static/img/marketReturn.png" style="height: 2rem; padding-right: 1rem;">
                        <p>
                            <div class="BAN" style="font-weight: bold; color: black; font-size:1.5rem; line-height: 1.25;">
                                20%
                                <div class="BanDesc">DOW Index ROI</div>                                     
                            </div>                                   
                        </p>
                    </div>    
                    <div class="BanRectangle">
                        <div class="separator"></div>
                    </div>
                    <div class="BanRectangle">
                        <img src="../static/img/rank.png" style="height: 2rem; padding-right: 1rem;">
                        <p>
                            <div class="BAN" style="font-weight: bold; color: black; font-size:1.5rem; line-height: 1.25;">
                                AAPL
                                <div class="BanDesc">Top Performer</div>                                     
                            </div>                                   
                        </p>
                    </div>     
                    <div class="BanRectangle">
                        <img src="../static/img/stockReturn.png" style="height: 2rem; padding-right: 1rem;">
                        <p>
                            <div class="BAN" style="font-weight: bold; color: black; font-size:1.5rem; line-height: 1.25;">
                                30%
                                <div class="BanDesc">Apple ROI</div>                                     
                            </div>                                   
                        </p>
                    </div>    
                </div>   
                <br>
                <div class="graphFormContainer">
                    <div class="form" style="flex: 1;">
                        <form method="GET">
                            <div style="font-weight: bold; box-shadow: 0 0 0; font-size: 1.5rem; color: #1C1E3D;">
                                Stock Prices
                            </div>
                            Select from the list of constituents and filter by period and interval
                            <label for="stock">Ticker</label>
                            <select id="stock" name="stock" aria-label="Select">
                                <option value="AAPL">AAPL</option>
                                <option value="TSLA">TSLA</option>
                            </select>
                            <label for="period">Period</label>
                            <select id="period" name="period" aria-label="Select">
                                <option value="1mo">1-month</option>
                                <option value="6mo">6-months</option>
                                <option value="1y">1-year</option>
                                <option value="max">Max period</option>
                            </select>
                            <label for="interval">Interval</label>
                            <select id="interval" name="interval" aria-label="Select">
                                <option value="1d">Daily</option>
                                <option value="1wk">Weekly</option>
                                <option value="1mo">Monthly</option>
                                <option value="3mo">Quarterly</option>
                                <option value="1y">Yearly</option>
                            </select>
                            <button type="button" class="btn btn-primary" onclick="callback()">Fetch</button>
                        </form>
                    </div>
                    <div class="chartBox" style="flex: 2;">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="report">
            <div class="textPosition">
                <div class="flex-1-1">
                This is the report
                </div>
            </div>
        </section>
        <section id="modelling">
            <div class="textPosition">
                <div class="flex-1-1">
                    Modelling
                </div>
            </div>
        </section>
    </div>
    <script>
        async function callback() {
            let Stock = document.getElementById('stock').value;
            let Period = document.getElementById('period').value;
            let Interval = document.getElementById('interval').value;
            let response = await fetch("/callback/getStock?data=" + Stock + "&period=" + Period + "&interval=" + Interval);
            if (response.ok) {
                let chartJson = await response.json();
                Plotly.newPlot("chart", chartJson['data'], chartJson['layout']);
            }
            else {
                alert("HTTP-Error: " + response.status + "on getStock");
            }
        }
    </script>
</body>
<!--
<div class="footerSection">
    <nav class="footer">
        <ul>
            <li><a href="">Github</a></li>
            <li>/</li>
            <li>LinkedIn</li>
        </ul>
    </nav>
</div>
-->
</html>

