<DOCTYPE html>
<html langs="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
    <img class='logo' src="../static/logo.png">
    <ul class="nav">
        <li><div class="page">Home</li></div>
        <li><a href="a">Daily tracker</a></li>
        <li><a href="a">Model summary</a></li>
        <li><a href="a">Predictive modelling</a></li>
    </ul>
    <div class="footer">
        <li>LinkedIn</li>
        <li>/</li>
        <li>Github</li>
        <li>/</li>
        <li>Website</li>
    </div>
    <p>
        <div class="textPosition">
            <p style="font-size: 50px;">Portfolio Optimization<br>With Reinforcement Learning</p>
            <p style="font-weight: 500; font-size: 20px;">
                The aim of this project was to utilize reinforcement learning to train a machine to learn<br>
                how to rebalance a portfolio of stocks given what happened previously in the market.<br>
                The project futher conducts sentiment analysis on tweets regarding traded companies into positive or negative.<br>
            </p>
            <br>
            <div class="rectangle">
                <p style="color: white; font-weight: normal; font-size: 14px;" View Demo>View Demo</p>
            </div>
        </div>
    </p>
    </div>

    </div>
</body>
</html>