<DOCTYPE html>
    <html langs="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
        <ul class="nav">
            <li><a href="/">Home</a></li></div>
            <li><a href="/dailyTracker">Daily tracker</a></li>
            <li><div class="page"><a href="/modelSummary">Model summary</a></li></div>
            <li>Predictive modelling</li>
        </ul>
        <img class='logo' src="../static/img/logo.png">
        <div class="footer">
            <li><a href="https://www.linkedin.com/in/abass-ibrahim/">LinkedIn</a></li>
            <li>/</li>
            <li><a href="https://github.com/AbsIbs">Github</a></li>
            <li>/</li>
            <li>Website</li>
        </div>
    </head>
    <body>
        <div class="container">
            <div class="textPosition">
                <p>Portfolio Optimization With Reinforcement Learning</p>
            </div>
        </div>
    </body>
    </html>
    
    